@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
/* 

GENERAL STYLES

*/
/* form{
    width: 100%;
} */
img{
    width: 100%;
    height: 100%;
}

.row{
    padding: 0 32px;
}
.container{
    margin: 20px 0;
}
.section__title,
.section__sub-title{
    line-height: 1.5;
}
.section__sub-title{
    font-size: 32px;
    margin-bottom: 24px;
    text-align: center;
}
.section__title{
    font-size: 57px;
    
}
.color-text{
    color: darkred;
}
button{
background-color: darkred;
color: white;
font-size: 16px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border: none;
}
.click {
  transition: all 300ms ease;
}
.click:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: darkred;
  border: 2px solid darkred;
}
.click:active {
  transform: scale(0.8);
}
input{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #242424;
    color: #0a1f44;
    height: 60px;
    line-height: 40px;
    outline: none;
    padding: 0 25px;
    font-size: 24px;
    width: 100%;
    max-width: 600px;
}
.link__hover {
  position: relative;
}
.link__hover--white::after {
  background-color: #fff;
}
.link__hover--red::after{
    background-color: darkred;
}
.link__hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}
.link__hover:hover::after {
  left: 0;
  width: 100%;
}
/* 

NAV  STYLES

*/
nav{
    height: 100px;
    padding: 20px 50px;
}
.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    z-index: 2;
}
.nav__links{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.nav__link{
    padding: 0 16px;
}
.nav__logo{
    max-height: 80px;
    
}
.results{
    color: #fff;
}
.results__logo--background{
    background-color: #fff;
    border-radius: 25px;
    opacity: 50%;
    width: 160px;
    height: 80px;
    position: absolute;
    left: -2px;
    z-index: -1;
}
.nav__link--boop{
    padding: 12px 40px;
    border-radius: 50px;
    font-weight: bold;
}
.results__header--container{
    position: relative;
}
.background__overlay{
    background-image: url(/assets/movie-face-on-a-poster-full.jpg);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 0%, rgba(0, 0, 0, .5) 50%,rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    width: auto;   
    max-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.background__overlay::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: rgba(41, 25, 71, .83); */
  background-color: rgba(36, 0, 71, .83);
}
.nav__menu--boop{
    /* display: hidden; */
    font-size: 42px;
    background: darkred;
    color: white;
    border: none;
    cursor: pointer;
}
.fa-bars{
    color: violet;
    font-size: 25px;
}
/* 

LANDING  STYLES

*/
#landing{
    height: calc(100vh - 100px);
}
.landing__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.landing__img--wrapper{
    overflow: hidden;
}
.landing__img{
max-height: 550px;
padding: 12px;
}
.search--container{
    position: relative;
    margin: 32px;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
}
.search--boop{
    width: 200px;
    margin-left: 20px;
    font-size: 30px;
    border-radius: 20px;
    font-family: "Limelight", sans-serif;
}
.search-bar{
    display: flex;
}

/* 

MOVIE CARD STYLES

*/
#movies{
    margin-top: 120px;
}
.movies__row{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.results__sub-title{
    margin-bottom: 0px;
    margin-top: 24px;
}
.results__slider{
    display: flex;
    align-self: flex-end;
    max-width: 350px;
}
.results__container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 3px;
}
.movie-card{
    max-width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    
}
.movie__poster:hover{
scale: calc(1.1);
}
.movie__poster,
.movie__name,
.movie__rating{
    padding-bottom: 6px;
    text-align: center;
    transition: all 300ms ease;
}
.movie__name{
    margin-top: 22px;
}
.movie__plot{
    text-align: center;
}
.movie__poster{
    min-height: 410px;
    min-width: 200px;
}

/*

MEDIA QUERIES

*/

/* desktop view */

@media (max-width:1024px){

    .movie-card{
        max-width: calc(100% / 2);
    }
    .landing__img{
        max-height: 350px;
    }
    .section__title{
        font-size: 42px;
    }
    .results__slider{
        max-width: 250px;
    }
}

/* tablets in landscape mode and up */

@media (max-width:768px){
    .nav__menu--boop{
        display: visible;
    }
    .nav__link{
        display: none;
    }
}

/* tablets in portrait mode and up

 */
/*
@media (max-width:600px){
    .movie-card{
        max-width: calc(100% / 2);
    }
    
}

/* mobile devices in landscape mode and up */
/*
@media (max-width:480px){
    .movie-card{
       width: 100%;
    }
  
}
*/